* text=auto
*.h linguist-language=c++
*.jsx linguist-language=typescript
*.tsx linguist-language=typescript
*.ts linguist-language=typescript
*.jsx linguist-language=typescript
*.mjs linguist-language=typescript
*.html linguist-language=Text
*.frag linguist-language=glsl
*.vert linguist-language=glsl
*.vs linguist-language=glsl
*.fs linguist-language=glsl
