---
import Titlebar from "../../components/Titlebar"
import App from "../../solar-components/solar"
import Counter from "../../components/Counter"
---

<html lang="en" class="h-screen w-screen">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style>
      html {
        font-size: 62.5%;
        overflow-x: hidden;
        overflow-y: hidden;
        scroll-behavior: smooth;
      }

      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
    </style>
  </head>
  <body class="h-screen w-screen flex flex-col flex-grow">
    <div>
      <Titlebar client:load />
    </div>
    <Counter client:load />
    <main id = "root" class="flex-grow">
      <App client:only="react" />
    </main >
  </body>
</html>
