.__loading-screen {
  transition: opacity 2s ease, filter 2s ease; /* Smooth transition for opacity and filter */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black; /* Or any background you prefer */
  z-index: 9999; /* Ensure it's above other content */
}

#root {
  transition: opacity 2s ease;
  opacity: 0;
}